<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-railways-of-love-localization" version="2.0.0">
  <name>Railways of Love localization</name>
  <description>Hackish plugin to provide Railways of Love name localization</description>   
  <engines>
    <engine name="cordova" version=">=6.0.0"/>
  </engines>

  <platform name="ios">
  	<resource-file src="translations/ios/en.lproj" target="en.lproj" />
    <resource-file src="translations/ios/ru.lproj" target="ru.lproj" />
  </platform>
  <platform name="android">
  	<resource-file src="translations/android/values" target="res/values" />
    <resource-file src="translations/android/values-ru" target="res/values-ru" />
  </platform>
</plugin>
